<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>mentalpad dot net</title>

    <!-- CSS  -->   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="grey lighten-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#profile">profile</a></li>
                <!-- <li><a href="#skillset">skillset</a></li> -->
                <li><a href="#profexp">professional experience</a></li>
                <li><a href="#contact">contact</a></li>
                <!-- <li><a href="#personalexp">personal projects</a></li> -->
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#profile">profile</a></li>
                <!-- <li><a href="#skillset">skillset</a></li> -->
                <li><a href="#profexp">professional experience</a></li>
                <li><a href="#contact">contact</a></li>
                <!-- <li><a href="#personalexp">personal projects</a></li> -->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center grey-text text-lighten-2">Trinity Harrison</h1>
                <div class="row center">
                    <h6 class="header col s12 light">full stack developer</h6>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
    </div>

    <div class="container scrollspy" id="profile">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings_power</i></h2>
<!--                         <h5 class="center">Creative INTP</h5>
                        <p class="light">Developing applications that surprise people, apps that people are thrilled to use, is what I love to do. I believe that code is art, and I am an artist. I thrive on good reviews. I find refactoring relaxing. I code on vacation. </p> -->
                        <p class="light">13 years of experience writing applications for enterprise, for startups, and for myself.  I've grown from c, c++, c# and .net, sharepoint, mssql and mysql, soap services and moss to ios, android, rest, json, java, python, appengine, mongodb, node.js, schemaless data. But always - well, almost always - javascript. </p>
                        <p class="light">INTP. Can knit a mean toque. Double checks three times, on average. Prefers spaces > tabs. Avoids apostrophes. Considers capitalization optional, except with camelCase. Pronounces java like pasta, in the dialect of Canadians. </p>
                        <p class="light">you might find me in the <a href="http://chat.stackoverflow.com/rooms/15/android" target="_blank">android chat</a> on stack overflow.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div id="skillset" class="parallax-container valign-wrapper scrollspy">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">- skillset -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <p class="left-align light">
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Android Development</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Java</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Integrations</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Android Studio</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Big Data</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">restful web services</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">OAuth</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Authentication</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">IntelliJ</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Eclipse</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Google Play Developer Console</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Google APIs</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Javascript</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">jQuery</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">d3.js</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Python</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">AppEngine</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">git</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">agile</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">scrum</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Flask</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">django</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">html5</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">css</div>
                        <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">responsive design</div>

                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light"> - professional experience - </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
    </div>

    <div class="container">
        <div id="profexp" class="section scrollspy">`
          <div class="row">
<!--             <div class="col s12 center grey-text"><h5>Professional Experience</h5></div>
 -->                <div class="card col s12 left">
                    <h5 class="brown-text">Unissen - Biotech Startup</h5>
                    <div class="light">Nov 2014 - now</div>
                    <div class="left"><p>Doing what needs to get done - firmware in C, middleware in python, UI in html5 &amp; javascript. Atmel Studio. NiDAQ. Data manipulation and acquisition through serial ports and custom rest services, sockets to feed the ui. Slick interfaces. Many Hats. </p></div>
                </div>
                <div class="card col s12 left z-depth-1">
                    <h5 class="brown-text">Citizen Responder &amp; Crisis Situation Awareness, Alert server and Client Application</h5>
                    <div class="light">Oct 2013 - July 2014</div>
                    <div class="left"><p>created an event server to pulse out critical information and emergency alerts, consuming a plethora of emergency and critical information sources such as FEMA, NOAA, and social platforms.  Aggregation and distribution of a standardized feed via a multitude of social and mobile sources, including twitter and custom apps. </p>
                    <p>Developed a suite of mobile applications for citizen and first responders to communicate and coordinate during emergency and crisis situations.</p>
                    <p>python, java, android, various google apis, appengine, javascript, d3.js, ndb, integrations with multiple sources such as twitter, facebook, government alert systems.</p>
                    </div>
                </div>

                <div class="card col s12 left z-depth-1">
                    <h5 class="brown-text">Pet Boarding and Franchise Management Software</h5>
                    <div class="light">Jan 2014 - July 2014</div>
                    <div class="left"><p>Created a platform for managing franchises and point of sale systems, specifically for a Pet Boarding Facility - but not a vertically specific solution.  I find myself reusing this data schema and service codebase for many other things. </p>
                    <p>python, java, android, rest, json, javascript, ajax, html, css, appengine, ndb</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Blab Predicts - Predictive Social Intelligence</h5>
                    <div class="light">Dec 2012- Oct 2013</div>
                    <div class="left"><p>Completely redesigned and revolutionized the predictive control center dashboard for this startup. Utilized the <a href="http://d3js.org/" target="_blank">d3.js</a> library by Mike Bostock to create live data-driven informational graphical views into the 10,000,000+ conversations they track daily, and show the 24/48/72 hour predictions for the trending topics. I conceptualized and created the "bubble" interface that is the center of their offering, as well as most of the other interfaces Blab provides to their customers. the command center can be seen here: <a href="https://www.youtube.com/watch?v=phDh-i3DTM8">https://www.youtube.com/watch?v=phDh-i3DTM8</a></p>
                    <p>javascript, ajax, rest, json, authentication, python, AWS, html, css, svg, d3.js</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Zonar 2020 - Android Tablet</h5>
                    <div class="light">April 2012 - Dec 2012</div>
                    <div class="left"><p>Worked on a suite of Android applications as well as a customized version of the Android operating system, to run on custom tablets which are used to help commercial drivers stay within the rules of the commercial driving industry.  Specifically, I created a rules engine that could be used on both the tablet to support the android applications, and the server to support the web based control panel dashboard, which was written in python.  The team created a suite of android applications, which I worked on as well, including the hours of service application, and the messenger application which was my responsibility. More information at <a href="http://www.zonarsystems.com/products/2020-mobile-communication-device/" target="_blank">zonars website</a>, and a demonstration of the tablet and applications on youtube: <a href="https://www.youtube.com/watch?v=LyV0sWEJXP4" target="_blank">https://www.youtube.com/watch?v=LyV0sWEJXP4</a></p>
                    <p>Android, Java</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Case Management iPad App - CorVel</h5>
                    <div class="light">March 2011 - March 2012</div>
                    <div class="left"><p>Created and maintained an ipad application for Case and Claim Managers to manage their cases in a mobile environment, allowing faster processing and ease of view into the various aspects of claim management. Application functionality included: image manipulation and uploading, conversion of images to PDF on the device, visual notifications, core data management and concurrency in a multi-threaded environment to focus on device performance. Document management and uploading, Syncing of changes to core data entities to the services, queued background processing of the synced data. Authentication management with the ability for multiple users to use one device without compromising data privacy.</p>
                    <p>XCode, Objective C, windows services, XML, PDF conversion</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Print Shop Management Application</h5>
                    <div class="light">Jan - March, 2011</div>
                    <div class="left"><p>Designed, developed a cloud based application to allow job requests to be submitted to a print shop, artifacts uploaded, and a complete workflow through the lifespan of the job including delivery and invoicing. Included a real time communication application based on html5 and ajax that would allow the client and the shop to communicate and approve any changes made to the job, large file upload management, reporting, client management functionality including a custom authentication scheme, and a mechanism to archive all history of a job including all artifacts uploaded, all communication, all states of the job and history of its progression, and download that archive zipped up into a few csvs for storage.</p>
                    <p>python, javascript, html5, css, appengine</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Contractor Management Platform</h5>
                    <div class="light">July 2010 - January, 2011</div>
                    <div class="left"><p>Designed, developed and deployed secure C# enterprise web site application facilitating companies and contractors to manage their contracts, securely esign these contracts, post job openings and advertise their services. Created a custom document signing workflow builder which analyzed uploaded pdfs, stripped out the form fields in these pdfs, and allowed fields from multiple pdfs to be combined and organized  in a web based decision driven workflow builder. Decisions could be made based on the answers to these fields, and the signer guided through the entire process of filling in the required data, which was then pushed back into the multiple pdfs and e-signed by the contractor.  The signer could change the data in these forms at any time and re-sign them.</p>
                    <p>Designed and developed an interface for the companies to manage their contractors, contracts, inventory, as well as securely generate checks to be sent to the contractors.</p>
                    <p>Designed and developed a "breach of contract" system that would allow the companies to communicate with the contractors via an audited interface, providing the contractor with the specific contract breach and manage the relationship based on the findings of that breach, including termination of the contract.</p>
                    <p>C#, Visual Studio 2010, MVC3, jQuery, SQL Server</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Realtors Property Resource - NARRPR</h5>
                    <div class="light">Oct 2009 - July, 2010</div>
                    <div class="left"><p>Helped Design and develop the RPR initiative to create an online real estate library to provide NARs realtors with valuable data on every property, neighborhood, and community in the United States.</p>
                    <p>Generation of PDF reports for sellers, buyers and agents with customized charting controls for views on everything to do with a property, statistics and trends.</p>       
                    <p>Created layouts for Property and Neighborhood specific pages to consume and display data from various services.</p>
                    <p>Implemented and customized .net charting controls to be dynamic and changeable based on the need in the current page and current view.</p>
                    <p>jQuery, C#, MVC, CSS</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Mineral Drilling Visualization Tools - Newmont Mining</h5>
                    <div class="light">Sept 2008 - Sept 2009</div>
                    <div class="left"><p>To this day, still one of the coolest projects I have EVER done. This won some awards. I wish I could see this application again, this was a hard one to walk away from.</p>
                    <p>Designed, developed, and deployed an asp.net / ajax web application to allow cross section view of commodities contained within mined holes through a web interface. Allowed users to select a cross section of depths, save comments and calculate averages. Also implemented google maps to allow sorting in a visual manner through a map view.</p>
                    <p>Created all html and masterpages, stylesheets, javascript and ajax interfaces.</p>
                    <p>C#, javascript, prototype.js (oh man, good times...), Visual Studio, Photoshop</p>
                    </div>
                </div>

                <div class="card col s12 left">
                    <h5 class="brown-text">Sharepoint &amp; .net Development, Hosted MOSS Solutions - Avitiva</h5>
                    <div class="light">April 2005 - Sept 2008</div>
                    <div class="left"><p>Designed, Developed, Deployed and maintained a variety of Moss Portals and Applications ( SharePoint 2003, MOSS 2007) in a hosted environment for a multitude of clients.</p>
                    <p>Designed, Developed and maintained a shared library of webparts, features, event handlers and other functionality to be used across all portals. Managed all versioning and upgrades to this library to be sure all clients were able to have the most current shared functionality.</p>
                    <p>Singularly responsible for all code reviews and source control. Created multiple BDC applications and custom search scopes. Designed, developed and implemented a live id authentication handler to allow single sign in across multiple portals.</p>
                    <p>Created ajax handlers to allow for cross list lookups, ease of ajax queries, xslt transformation of list queries and dynamic caml queries.</p>
                    <p>During this time I also did various consulting jobs which were mostly short term, which I would be happy to talk about if anyone is interested.</p>
                    <p>C#, Visual Studio, Sharepoint Designer, MOSS 2007, Sharepoint 2003</p>

                    </div>
                </div>

                <p class="light">Some work experience has been omitted from the above list, simply because I found it too boring and have mostly forgotten about it. </p>
                <p>Prior to 2005, I worked for a workflow company in Canada called Teamplate, who were aquired by Captaris. I created various workflow solutions, including Sharepoint integrations and Web based workflow building tools. Prior to working for teamplate, I was consulting for Era 404 writing PHP / MySql web applications. </p>
                <h3 class="center">Education</h3>
                <p class="light">SAIT Polytechnic, CompSci. Graduated on the Deans List, 2002.</p>

            </div>
        </div>
    </div>


    <div class="container scrollspy">
        <div class="section">

            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h3 class="center">Personal Projects</h2>
                        <h2 class="center brown-text"><i class="material-icons">android</i></h2>
                        <h5 class="center">Android Apps</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/dirty-needles.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Dirty Needles<i class="material-icons right">more_vert</i></span>
                            <p><a href="https://play.google.com/store/apps/details?id=net.mentalpad.dirtyneedles.patternsearch&hl=en" target="_blank">play store</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">knitting is awesome.<i class="material-icons right">close</i></span>
                            <p>highly rated and much loved pattern search, purchase, and download app for knitters and crocheters. Utilizes the ravelry search API, Native Android with tons of great reviews, like:</p>
                            <blockquote>Might I just say... That this is a fantabulous app - beautiful and easy and works great! So far I've not found a single thing wrong with it (it is a little slow loading photos but that may be my phone and not the app itself). It's certainly well worth the money and far beyond any of the other Ravelry apps. Thank you! - Misty McDivitt</blockquote>
                            <blockquote>Wow This is awesome. - Shannon Wolfe</blockquote>
                            <blockquote>Finally! I've been waiting for an app like this for so long and it's finally here! Very well done, super easy to navigate, great pics. Thank you, Mr. Genius App Designer! - Holly O'Neill</blockquote>
                            <p>to be clear: I don't know any of those people.  </p>
                        </div>

                    </div>

                </div>

                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/harmonograph.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">3D Harmonograph live wallpaper<i class="material-icons right">more_vert</i></span>
                            <p><a href="https://play.google.com/store/apps/details?id=net.mentalpad.sandpaper&hl=en" target="_blank">play store</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">pure opengl<i class="material-icons right">close</i></span>
                            <p>really mathy 3D harmonograph simulation. creating, combining and manipulating sine waves - the result is beautiful. pure opengl, no preservatives.</p>
                            <p><a href="https://www.flickr.com/photos/65453407@N04/albums/72157636769191813" target="_blank">flickr gallery</a></p>
                            <p><a href="https://youtu.be/dbvJ6CBQOec" target="_blank">video</a></p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/hazardice.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Hazardice<i class="material-icons right">more_vert</i></span>
                            <p><a href="https://play.google.com/store/apps/details?id=net.mentalpad.hazardicehd&hl=en" target="_blank">play store</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">libgdx, mutiplayer yahtzee<i class="material-icons right">close</i></span>
                            <p>... and it's actually kind of fun! If you like yahtzee, that is.  And you can find someone to play with. </p>
                            <p>After playing with opengl, I wanted to see what libgdx could do. There are some cute little easter eggs in this app, and it was fun to make.  </p>
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">open_in_browser</i></h2>
                        <h5 class="center">Data, Server, REST</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/lame-wrrd-game.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Ripped from Reddit<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">coming soon - another word game!<i class="material-icons right">close</i></span>
                            <p>Word packing and crossword puzzle generation, for a 3D word game I have in mind.  Creates a 3D sort of layered word game based on current news headlines from multiple sources. </p>
                            <p>appengine, of course : ) </p>
                        </div>

                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/badseed.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Bad Seed Breedables<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Genetic Evolution - Backend System<i class="material-icons right">close</i></span>
                            <p>I wanted to create a system for breedables, which would support mutation of genetics, and be as close to realistic genetic evolution as possible.  MISSION ACCOMPLISHED. The problem I face, sadly, is the cost of the computation of the genetics of the conceived child is almost too high to support a game play scenario, and I don't wish to stupify the algorithm which dictates the genetics of the child. Rest, NDB, Appengine, Python </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">surround_sound</i></h2>
                        <h5 class="center">3D Modeling &amp; Material Design </h5>
                        <p>I also make models for 3D games. Each of these images is a screenshot from in-game during gameplay - these are not renders (an important consideration). They are low poly, with extremely high quality textures including specular and normal maps (bumpy &amp; shiny). The devil is in the details - how the light plays off the materials. They are all interactive, non-static game artifacts with moving parts and pieces. Created in blender using the latest cycles rendering engine and physics simulations. The can be used in any 3D or opengl game, including steam games. All the materials are custom. </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col s12 m6">                    

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/microphones.png">
                        </div>
                    </div>

                </div>

                <div class="col s12 m6">                    

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/shelves.png">
                        </div>
                    </div>

                </div>

                <div class="col s12 m12">                    
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/turntables.png">
                        </div>
                    </div>
                </div>


                <div class="col s12 m6">                    

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/typewriters.png">
                        </div>
                    </div>

                </div>

                <div class="col s12 m6">                    

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/buckets.png">
                        </div>
                    </div>

                </div>

                 <div class="col s12 m12">                    

                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/mailbox.png">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <footer class="page-footer grey darken-3">
        <div id="contact" class="container scrollspy">
            <div class="row">
                <div class="col l12 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <div class="g-person" data-layout="landscape" data-href="https://plus.google.com/103995581220094140811" data-showtagline="true"></div>
                        </li>
                        <li><div class="chip"><a href="http://stackoverflow.com/users/763530/nebulae" target="_blank">nebulae @ stackoverflow</a></div> <div class="chip"><a href="https://www.linkedin.com/pub/trinity-harrison/4a/294/120" target="_blank">trinity.harrison @ linkedin</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            </div>
        </div>
    </footer>

    <a href="https://github.com/nebulae/mentalpad"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

</body>
</html>
